body{
   background-color: rgb(175, 104, 115);
   color: rgb(221, 222, 223);
}
div{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#home,#game{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    border: 1px solid rgb(221, 222, 223);
    background-color: transparent;
    color: aliceblue;
    font-size:15px;
    padding: 10px;
}
#game {
    display: none;
}

#options{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#game button{
    background-color: rgba(76, 0, 255, 0.404);
    border: 1px solid rgb(251, 255, 6);
}